
@{
    ViewBag.Title = "Erro404";
    //Response.SetStatus(HttpStatusCode.NotFound);
}

<div class="container">
    <h1></h1>
    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <img src="~/img/homer.jpg" alt="error404" class="img-responsive" />
        </div>

        <div class="col-md-4"></div>
    </div>
    <h3 class="text-danger text-center">
        Erro 404: <span style="color: black; font-size: 16pt">Não conseguimos encontrar a página solicitada!</span>
    </h3>
</div>