
@{
    ViewBag.Title = "ErroServidor";
    Response.SetStatus(500);
}

<h2 class="text-danger">Erro de conexão</h2>

<p class="text-danger">Ocorreu um erro enquanto a aplicação tentava se conectar ao servidor.<br/>
    Por favor contacte o administrador da página.</p>
